{% extends "anemoneApp/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Styles/cart.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="cart-container">
        <h1>Shopping Cart</h1>
        <table class="cart-table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <div class="cart_item">
                        <td>
                            {% if item.product.image %}
                                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="product-image">
                            {% else %}
                                <div class="no-image-box"> No Photo </div>
                            {% endif %}
                        </td>
                        <td>
                            <div class="product-info">
                                <span>{{ item.product.name }} <p>{{ item.product.description }}</p></span>
                                <b>M{{ item.product.price }}</b>
                            </div>
                        </td>
                        <td style="position:relative;">
                            <form method="POST" action="{% url 'update_cart' item.id %}">
                                {% csrf_token %}
                                <p>Qty:</p>
                                <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
                                <button type="submit" class="cart-update">Update</button>
                            </form>
                            <form method="POST" action="{% url 'remove_from_cart' item.id %}" class="remove-form">
                                {% csrf_token %}
                                <button type="submit" class="remove-btn" aria-label="Remove item">&times;</button>
                            </form>
                        </td>
                    </div>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="cart-summary">
            <h2>Cart Summary</h2>
            <p>Subtotal: M{{ cart_total | floatformat:2 }}</p>
            <p>Tax: M{{ tax | floatformat:2 }}</p>
            <strong>Total: M{{ grand_total | floatformat:2 }}</strong>
        </div>

        <button class="checkout-btn"> CHECKOUT CART </button>
    </div>
</main>
{% endblock %}