{% extends "anemoneApp/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Styles/product.css' %}">
{% endblock %}

{% block content %}
    <main class="main-content">
        <section>
            <form method="POST">
                {% csrf_token %}
                <p>Choose your art.</p>
                <div class="art-choice">
                    {% for art in arts %}
                    <label class="radio-card">
                        <input type="radio" name="selected_art" value="{{ art.id }}" required>
                        <div class="art">
                            <img src="{{ art.image.url }}" alt="{{ art.name }}">
                            <p>{{ art.title }} | | <a href="#" class="more" title="View Details"> &rarr; </a></p>
                            <p class="price">M{{ art.price }}</p>
                        </div>
                    </label>
                    {% empty %}
                    <h2>No art available.</h2>
                    {% endfor %}
                </div>

                <p>Select a garment.</p>
                <div class="garment-choice">
                    {% for garment in garments %}
                        <label class="radio-card">
                            <input type="radio" name="selected_garment" value="{{ garment.id }}" required>
                            <div class="garment">
                                <img src="{{ garment.image.url }}" alt="{{ garment.name }}">
                                <p>{{ garment.name }} | | <a href="#" class="more" title="View Details"> &rarr; </a></p>
                                <p class="garment-price">M{{ garment.price }}</p>
                            </div>
                        </label>
                    {% empty %}
                    <h2>No garments available.</h2>
                    {% endfor %}
                </div>

                <p id="error-message"></p>
                <button id="next" title="Next" type="submit">Next</button>
            </form>
        </section>
    </main>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'JS/product.js' %}"></script>
    <script src="{% static 'JS/custom.js' %}"></script>
{% endblock %}