.search-body {
    background-color: white;
    border-radius: 10px;
    padding: 5px 12px;
    margin: 10px;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
}

.search-form {
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 5px;
    background-color: initial;
}

.search-input {
    max-width: 350px;
    border: 2px solid black;
}

.search-submit {
    background-color: crimson;
    border: 2px solid rgb(238, 216, 121);
    border-radius: 8px;
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.search-submit:hover {
    background-color: rgb(180, 3, 39);
}

.title-search {
    font-size: 30px;
    font-weight: bold;
    margin: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-summary {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.product-card {
    margin-left: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.prod-image {
    width: 100px;
    height: auto;
}

.prod-details {
    flex-grow: 1;
    padding: 10px;
}

.btn-add {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
}

.btn-add:hover {
    background-color: rgba(1, 94, 1, 0.952);
}