<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anemone Noble Canvas</title>
        <link rel="stylesheet" href="{% static 'Styles/base.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        {% block extra_css %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="main-nav">
                <div class="side-menu-container">
                    <button title="Menu" class="menuBar">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </button>

                    <nav class="menu-nav">
                        {% if user.is_authenticated %}
                        <div id="nav-logged">
                            <ul>
                                <div class="home">
                                    <li id="home"><a href="{% url 'index' %}"><button><img src="{% static 'Images/Icons/home.png' %}" alt="home icon">Home</button></a></li>
                                </div>
                                <div class="services">
                                    <p>Services</p>
                                    <li id="custom"><a href="{% url 'product' %}"><button>Custom Design</button></a></li>
                                    <li id="store"><a href="{% url 'store' %}"><button>Our Store</button></a></li>
                                </div>
                                <div class="me">
                                    <li id="dashboard"><a href="{% url 'dashboard' %}"><button><img src="{% static 'Images/Icons/dashboard.png' %}" alt="dashboard icon">Dashboard</button></a></li>
                                    <li id="settings"><a href="{% url 'settings' %}"><button><img src="{% static 'Images/Icons/settings.png' %}" alt="settings icon">Settings</button></a></li>
                                    <li id="logout-button"><a><form method="POST" id="logout_form" action="{% url 'logout' %}"> {% csrf_token %} <button onclick="confirmLogout()" type="button"><img src="{% static 'Images/Icons/logout.png' %}" alt="logout icon">Log Out</button></form></a></li>
                                </div>
                            </ul>

                            <div class="nav-bottom">
                                <div class="prof">
                                    <img src="{{ user.profile.image.url }}" class="profile-pic" alt="pic"> <span class="username-display" data-username="{{ request.user.username|default:'Guest' }}"></span>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if not user.is_authenticated %}
                        <div id="nav-logged">
                            <ul>
                                <div class="home">
                                    <li id="home"><a href="{% url 'index' %}"><button><img src="{% static 'Images/Icons/home.png' %}" alt="home icon">Home</button></a></li>
                                </div>
                                <div class="services">
                                    <p>Services</p>
                                    <li id="custom"><a href="{% url 'product' %}"><button>Custom Design</button></a></li>
                                    <li id="store"><a href="{% url 'store' %}"><button>Our Store</button></a></li>
                                </div>
                                <div class="Me">
                                    <li id="login"><a href="{% url 'login' %}"><button><img src="{% static 'Images/Icons/login.png' %}" alt="login icon">Log In</button></a></li>
                                    <li id="join"><a href="{% url 'signup' %}"><button><img src="{% static 'Images/Icons/join.png' %}" alt="signin icon">Join Us</button></a></li>
                                </div>
                            </ul>
                        </div>
                        {% endif %}
                    </nav>
                </div>

                <img src="{% static 'Images/navLogo.png' %}" alt="Navigation Logo" class="navLogo">

                <div class="search-and-cart">
                    <button title="Search" class="search-btn"><a href="{% url 'search' %}"><img src="{% static 'Images/Icons/search.png' %}" alt="search icon"></a></button>
                    <button title="Cart" id="cart"><a href="{% url 'cart' %}"><img src="{% static 'Images/Icons/cart.png' %}" alt="cart Icon"></a></button>
                </div>
            </nav>
        </header>

        <div class="overlay"></div>

        {% block content %}
        {% endblock %}

        <footer>
            <a>© 2025 Anemone Noble Canvas. All rights reserved.</a>
            <a href="{% url 'about' %}" target="_blank">About</a>
            <a href="mailto: info@animonenoblecanvas.com" target="_blank">Contact Us</a>
            <a href="{% url 'terms' %}" target="_blank">Terms</a>
        </footer>

        <script src="{% static 'JS/general.js' %}"></script>
        {% block extra_js %}
        {% endblock %}
    </body>
</html>