{% extends "anemoneApp/base.html" %}
{% load static %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'Styles/homeStyles.css' %}">
{% endblock %}

{% block content %}
<header>
    <section class="intro-section">
        <div class="intro-background"></div>
        <div class="introduction">
            <h1>Anemone Noble Canvas</h1>
            <h2>Unique Painted Clothing for You</h2>
            <p>Discover a world of unique painted clothing at Anemone Noble Canvas. Order pre-painted garments, select designs for custom painting, or bring your own clothing for a personalized touch. We provide a unique experience in the world of fashion.</p>
            <ul>
                <li>Custom Designs</li>
                <li>Personalized Touch</li>
                <li>Quality Craftsmanship</li>
            </ul>
            <a href="{% url 'dashboard' %}" id="order-link"><button id="place-order" title="Place Order">Place Your Order Now</button></a>
        </div>
    </section>
</header>

<main class="main-content">
    <section>
        <h3>Unique painted Clothing</h3>
        <p>Explore our range of pre-painted garments, custom design options, and personalized painting services. Our team of artists ensures each piece is meticulously painted, creating wearable art that reflects your individual style and personality.</p>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="shirt" src="{% static 'Images/fish_P.jpg' %}" alt="shirt2">
                </div>
            </div>
        </div>
        <p>whether you choose from our pre-painted selection or opt for a custom design, Anemone Noble Canvas promises quality, creativity, and a touch of artistic flair in every garment.</p>

        <h4>Custom Designs</h4>
        <p>Choose from a range of custom designs to have painted on your clothing, ensuring a unique and personalized stunning look.</p>
        <img src="{% static 'Images/backV.jpg' %}" class="shirt" alt="shirt1">

        <h4>Personalized Touch</h4>
        <p>Bring your own clothing for a custom touch of your choice, making each piece one-of-a-kind and tailored to your style.</p>
        <img alt="shirt3" class="shirt" src="{% static 'Images/hoodie.jpg' %}">

        <h4>Wide Selection</h4>
        <p>select from a variety of pre-painted clothes, offering unique and artistic designs to suit your taste.</p>
        <img alt="shirt4" class="shirt" src="{% static 'Images/skull_P.jpg' %}">

        <h4>Quality Craftsmanship</h4>
        <p>Experience expert craftsmanship and attention to detail that sets our painted clothing apart from the rest.</p>
    </section>
</main>

{% endblock %}