<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome</title>
        <link rel="stylesheet" href="{% static 'Styles/generalStyles.css' %}">
        <link rel="stylesheet" href="{% static 'Styles/homeStyles.css' %}">
    </head>
    <body>
        <header>
            <nav class="main-nav">
                <div class="side-menu-container">
                    <button title="Menu" class="menuBar">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </button>

                    <nav class="menu-nav">
                        <div id="nav-logged-in">
                            <ul>
                                <li id="home"><a href="index.html"><button><img src="{% static 'Images/Icons/home.png' %}" alt="home icon">Home</button></a></li>
                                <li id="profile"><a href="Pages/profile.html"><button><img src="{% static 'Images/Icons/profile.png' %}" alt="profile icon">Profile</button></a></li>
                                <li id="services"><a><button><img src="{% static 'Images/Icons/services.png' %}" alt="services icon">Services</button></a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'product' %}"><button>Custom Design</button></a></li>
                                        <li><a><button>Personalized Touch</button></a></li>
                                        <li><a><button>Craftsmanship</button></a></li>
                                    </ul>
                                    <img src="{% static 'Images/Icons/gt.png' %}" alt="gt sign" class="chevron-right">
                                </li>
                                <li id="dashboard"><a href="{% url 'dashboard' %}"><button><img src="{% static 'Images/Icons/dashboard.png' %}" alt="dashboard icon">Dashboard</button></a></li>
                                <li id="settings"><a href="{% url 'settings' %}"><button><img src="{% static 'Images/Icons/settings.png' %}" alt="settings icon">Settings</button></a></li>
                                <li id="logout-button"><a><button><img src="{% static 'Images/Icons/logout.png' %}" alt="logout icon">Log Out</button></a></li>
                            </ul>

                            <div class="nav-bottom">
                                <a href="PlayStore">
                                    <img src="" alt="GET APP">
                                </a>
                                <img src="{% static 'Images/navLogo.png' %}" alt="logo" id="nav-bottom-logo">
                            </div>
                        </div>

                        <div id="nav-logged-out">
                            <ul>
                                <li id="home"><a href="{% url 'index' %}"><button><img src="{% static 'Images/Icons/home.png' %}" alt="home icon">Home</button></a></li>
                                <li id="join"><a href="{% url 'signup' %}"><button><img src="{% static 'Images/Icons/join.png' %}" alt="signin icon">Join Us</button></a></li>
                                <li id="services"><a><button><img src="{% static 'Images/Icons/services.png' %}" alt="services icon">Services</button></a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'product' %}"><button>Custom Design</button></a></li>
                                        <li><a><button>Personalized Touch</button></a></li>
                                        <li><a><button>Craftsmanship</button></a></li>
                                    </ul>
                                    <img src="{% static 'Images/Icons/gt.png' %}" alt="gt sign" class="chevron-right">
                                </li>
                                <li id="settings"><a href="{% url 'settings' %}"><button><img src="{% static 'Images/Icons/settings.png' %}" alt="settings icon">Settings</button></a></li>
                                <li id="logout"><a href="{% url 'login' %}"><button><img src="{% static 'Images/Icons/login.png' %}" alt="login icon">Log In</button></a></li>
                            </ul>

                            <div class="nav-bottom">
                                <a href="PlayStore">
                                    <img src="" alt="GET APP">
                                </a>
                                <img src="{% static 'Images/navLogo.png' %}" alt="logo" id="nav-bottom-logo">
                            </div>
                        </div>
                    </nav>
                </div>

                <img src="{% static 'Images/navLogo.png' %}" alt="Navigation Logo" class="navLogo">

                <div class="search-and-cart">
                    <div class="search-container">
                        <input type="text" placeholder="Search..." class="search-input" id="search-text">
                        <button title="Search" class="search"><img src="{% static 'Images/Icons/search.png' %}" alt="search icon"></button>
                    </div>
                    <button title="Cart" id="cart"><img src="{% static 'Images/Icons/cart.png' %}" alt="cart Icon"></button>
                </div>
            </nav>
            <section class="intro-section">
                <div class="intro-background"></div>
                <div class="introduction">
                    <h1>Anemone Noble Canvas</h1>
                    <h2>Unique Painted Clothing for You</h2>
                    <p>Discover a world of unique painted clothing at Anemone Noble Canvas. Order pre-painted garments, select designs for custom painting, or bring your own clothing for a personalized touch. We provide a unique experience in the world of fashion.</p>
                    <ul>
                        <li>Custom Designs</li>
                        <li>Personalized Touch</li>
                        <li>Quality Craftsmanship</li>
                    </ul>
                    <a href="{% url 'dashboard' %}" id="order-link"><button id="place-order" title="Place Order">Place Your Order Now</button></a>
                </div>
            </section>
        </header>

        <main class="main-content">
            <section>
                <h3>Unique painted Clothing</h3>
                <p>Explore our range of pre-painted garments, custom design options, and personalized painting services. Our team of artists ensures each piece is meticulously painted, creating wearable art that reflects your individual style and personality.</p>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="shirt" src="{% static 'Images/shirt2.jpg' %}" alt="shirt2">
                        </div>
                        <div class="swiper-slide">
                            <img class="shirt" src="{% static 'Images/shirt2.jpg' %}" alt="shirt2">
                        </div>
                        <div class="swiper-slide">
                            <img class="shirt" src="{% static 'Images/shirt2.jpg' %}" alt="shirt2">
                        </div>
                        <div class="swiper-slide">
                            <img class="shirt" src="{% static 'Images/shirt2.jpg' %}" alt="shirt2">
                        </div>
                    </div>
                </div>
                <p>whether you choose from our pre-painted selection or opt for a custom design, Anemone Noble Canvas promises quality, creativity, and a touch of artistic flair in every garment.</p>

                <h4>Custom Designs</h4>
                <p>Choose from a range of custom designs to have painted on your clothing, ensuring a unique and personalized stunning look.</p>
                <img src="{% static 'Images/shirt1.jpg' %}" class="shirt" alt="shirt1">

                <h4>Personalized Touch</h4>
                <p>Bring your own clothing for a custom touch of your choice, making each piece one-of-a-kind and tailored to your style.</p>
                <img alt="shirt3" class="shirt" src="{% static 'Images/shirt3.jpg' %}">

                <h4>Wide Selection</h4>
                <p>select from a variety of pre-painted clothes, offering unique and artistic designs to suit your taste.</p>
                <img alt="shirt4" class="shirt" src="{% static 'Images/shirt4.jpg' %}">

                <h4>Quality Craftsmanship</h4>
                <p>Experience expert craftsmanship and attention to detail that sets our painted clothing apart from the rest.</p>
            </section>
        </main>

        <script src="{% static 'JS/general.js' %}"></script>
        <script src="{% static 'JS/home.js' %}"></script>
    </body>

    <footer>
        <a>© 2025 Anemone Noble Canvas. All rights reserved.</a>
        <a href="{% url 'about' %}" target="_blank">About</a>
        <a href="mailto: info@animonenoblecanvas.com" target="_blank">Contact Us</a>
        <a href="{% url 'terms' %}" target="_blank">Terms</a>
    </footer>
</html>