{% extends "anemoneApp/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Styles/dashboard.css' %}">
{% endblock %}

{% block content %}
    <main>
        <section class="dashboard-intro">
            {% if user.profile.image %}
                <img alt="profil-pic" src="{{ user.profile.image.url }}" class="profile-pic">
            {% else %}
                <img alt="profil-pic" src="{% static 'Images/logo.png' %}" class="profile-pic">
            {% endif %}
            <h1>Welcome, <b id="my-username"><span id="username-display" data-username="{{ request.user.username|default:'Guest' }}"></span></b> !</h1>
        </section>
        <div class="buttons">
            <a href="{% url 'store' %}"><button type="button" title="browse-items">Browse Painted Clothes</button></a>
            <a href="{% url 'product' %}"><button type="button" title="browse-other">Create a Custom Design</button></a>
            <button type="button" title="orders">My Orders</button>
        </div>
    </main>
{% endblock %}

{% block extra_js%}
    <script src="{% static 'JS/dashboard.js' %}"></script>
{% endblock %}