{% extends "anemoneApp/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Styles/settings.css' %}">
{% endblock %}

{% block content %}
    <main>
        <h1>Settings</h1>
        <h2>Profile and Personal Info</h2>
        <div class="changes-section">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ p_form.as_p }}
                {{ u_form.as_p }}
                <button type="submit" id="update-profile">Update Profile</button>
            </form>
        </div>
    </main>
{% endblock %}