form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.form_container {
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

h2 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:coral;
    font-size: xx-large;
}

footer {
    text-align: center;
    background-color: #007bff;
    padding: 5px;
    margin-top: 5%;
}

.links-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 20%;
    height: auto;
}

.imgcontainer {
    text-align: center;
}

body {
    background-image: url('../Images/formBground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}